spring.datasource.url=jdbc:postgresql://${DB_HOST:postgree_url}:${DB_PORT:server_port}/todolist
spring.datasource.username=${DB_USERNAME:your_username}
spring.datasource.password=${DB_PASSWORD:your_password}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update

server.port=${SERVER_PORT:8080}

jwt.secret=${JWT_SECRET:VikswfDt7b4ooowdLjFAbg7DjE54mAvh1MNHXJ6Oao4=}
jwt.expiration=${JWT_EXPIRATION:604800}

spring.main.allow-circular-references=true